<h1>Stats</h1>

<table>

<% totalvotes = @votes.count %>

  <tr>
    <th align="left">Candidate</th>
    <th align="right">Votes</th>
    <th align="right">Percent</th>
  </tr>

  <% @candidates.each do |candidate| %>
  <% votecount = @votes.count {|vote| vote.candidate_id == candidate.id } %> 

  <tr>
    <td><%= candidate.name %></td>
    <td align="right"><%= votecount %></td>
    <td align="right"><%= 100 * votecount/totalvotes %>%</td>
 </tr>

<% end %>

</table>

<br />

<% @users.each do |user| %>
  
    <%= user.email %>

    <% if voter.id == logged_in_id %>

      <% if voter.vote.nil? %>
      <%= link_to 'Vote', vote_now_path %><br />
      <% else %>

        <%= link_to 'See how you voted', voter %><br />
      <% end %>
      <% else %> <br>
    <% end %>

<% end %>

<br />

<% if user_signed_in? %>
  <%= link_to "Candidates", candidates_path %>
<% end %>
